@font-face {
  font-family: Lucida Console;
  src: url(LUCON.TTF);
}


body{
 	background-color: #262626;
	margin: 0px;
}

divheader{
	height: 60px;
	width: 100%;
	background-color: black;
	padding: 20px;
	position: fixed;
	display: block;
	top: 0;
}

div1{
	align-items: center;
	width: 100%;
	height: 450px;
	border: 0px;
	padding: 10px;
	margin: 10px;
	background-image: url("prom1.gif");
	display: block;
 	background-repeat: no-repeat;
	background-opacity: 80%;
 	background-position: center;
	background-size: cover;
 	background-attachment: fixed;
}

div2{
	align-item: center;
	width: 100%;
	height: 200px;
	padding: 10px;
	margin: 20px;
	background-color: #ffffff;
	display: block;
}

table{
	width: auto;
	align-items: center;
}

th{
	font-family: Agency FB;
	color: #ffffff;
	font_size: 18px;
}

td2{
	align-items: center;
}

h1{
	font-family: Lucida Console;
	color: #ffffff;
	font_size: 64px;
	text-align: center;
	text-shadow: 0 0 20px black;
}

h2{
	font-family: Agency FB;
	color: #ffffff;
	font_size: 20px;
	text-align: center;
	text-shadow: 0 0 20px black;
}

h3{
	font-family: Lucida Console;
	color: black;
	font_size: 18px;
	text-align: center;
}
