/*FONTS*/

@font-face {
  font-family: Lucida Console;
  src: url(https://arunatives.github.io/AruNatives/LUCON.TTF);
}

/*LINKS*/

a{
	text-decoration: none;
}

.a:link{
	text-decoration: none;
}

.a:visited{
	text-decoration: none;
}

.a:hover{
	text-decoration: none;
}

.a:active{
	text-decoration: none;
}

/*BODY*/

body{
 	background-color: #262626;
	width: auto;
	height: auto;
	border: 0px;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

/*DIVS*/

divheader{
	align-items: center;
	height: 50px;
	width: 100%;
	background-color: #000000;
	padding: 20px;
	padding-top: 5px;
	position: fixed;
	display: block;
	top: 0;
}

div1{
	align-items: center;
	width: auto;
	height: auto;
	border: 0px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin: 0px;
	background-image: url("prom1.gif");
	display: block;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-attachment: fixed;
	background-opacity: 80%;
	background-size: cover;
}

div2{
	align-items: center;
	width: auto;
	height: auto;
	padding: 60px;
	margin: 0px;
	border: 0px;
	background-color: #000000;
	display: block;
}

div3{
	align-items: center;
	width: auto;
	height: auto;
	padding: 60px;
	margin: 0px;
	border: 0px;
	background-color: #262626;
	display: block;
}

div4{
	align-items: center;
	text-align: center;
	width: auto;
	height: auto;
	padding: 60px;
	margin: 0px;
	border: 0px;
	background-color: #ffffff;
	display: block;
}

div5{
	align-items: center;
	width: auto;
	height: auto;
	padding: 25px;
	margin: 0px;
	border: 0px;
	background-color: #262626;
	display: block;
}

div6{
	vertical-align: top;
	float: right;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #000000;
	display: inline;
}

div7{
	padding:20px;
	display: inline;
}

div9{
	align-items: center;
	width: auto;
	height: auto;
	border: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 75px;
	background-image: url("prom1.gif");
	display: block;
 	background-repeat: no-repeat;
 	background-position: center;
	background-size: cover;
}

.pccolimg {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.pccoltitle {
	padding: 20px;
	margin: 0px;
	border: 0px;
}

.storedesc {
	display: inline;
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 60%;
}

.storedescimg {
	display: inline;
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 25%;
}

/*BUTTONS*/

button{
	vertical-align: center;
	text-align: center;
	width: auto;
	height: auto;
	padding: 15px;
	margin: 0px;
	border: 1px;
	border-color: #505050;
	background-color: #ffffff;
	border-radius:5px;
	box-shadow: 0 0 3px #707070;
	cursor: pointer;
}

.button:hover{
	background_color: #757575;
}

.inv{
	padding: 0px;
	box-shadow: 0 0 0;
	background-color: transparent;
	border-radius: 0px;
	font-weight: bold;
}

.previewcard{
	width: 300px;
	height: 500px;
	padding: 20px;
	margin: 20px;
	background-color: #ffff;
	text-align: left;
	display: inline;
}

.pccol{
	width: 450px;
	height: 450px;
	margin: 20px;
	background-color: #ffff;
	text-align: center;
	display: inline;
}

/*TABLES*/

table{
	display: inline;
}

th{
	border: 50px;
	width: 150px;
}

.tdlang{
	text-align: right;
}

td2{
	align: right;
	float: right;
}

/*PARAGRAPHS*/

p1{
	background-color: #000000;
}

.p2:hover{
	background-color: #ffffff;
}

/*TEXT CSS*/

h1{
	font-family: Lucida Console;
	color: #ffffff;
	font-size: 54px;
	text-align: center;
	text-shadow: 0 0 15px black;
	padding-left: 25px;
	padding-right: 25px;
}

h2{
	font-family: Agency FB;
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	text-shadow: 0 0 10px black;
}

h3{
	font-family: Lucida Console;
	color: #000000;
	font-size: 24px;
	text-align: center;
}

h4{
	font-family: Lucida Console;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
}

h5{
	font-family: Lucida Console;
	color: #707070;
	font-size: 14px;
	text-align: center;
}

h6{
	font-family: Agency FB;
	color: #ffffff;
	font-size: 24px;
	text-align: left;
	margin: 0px;
}

h7{
	font-family: Agency FB;
	font-size: 24px;
	color: #ffffff;
}

h8{
	font-family: Lucida Console;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
}

h9{
	font-family: Lucida Console;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
}

.pctitle {
	font-size: 24px;
	font-weight: bold;
}

.pcdesc {
	color: #656565;
}

.pcprice {
	font-size: 16px;
}

.storetitle {
	font-size: 32px;
	font-weight: bold;
	display: block;
}

.storetext {
	font-size: 24px;
	display: block;
}

.storeprice {
	font-size: 20px;
}

/*IMGs*/

.pcimg {
	width: 100%;
	padding-bottom: 20px;
}

.storeimg {
	width: 25%;
	padding-right: 50px;
	display: inline;
}

/**/
/*MOBILE VER*/
/**/

@media only screen and (max-width: 620px) {
	
	/*FONTS*/
	
	@font-face {
 	 font-family: Lucida Console;
	  src: url(https://arunatives.github.io/AruNatives/LUCON.TTF);
	}
	
	/*DIVs*/
	
	divheader{
		align-items: center;
		height: 10%;
		width: 100%;
		background-color: #000000;
		padding: 20px;
		padding-top: 5px;
		position: fixed;
		display: block;
		top: 0;
	}
	
	div1{
		align-items: center;
		width: auto;
		height: auto;
		border: 0px;
		padding-top: 200px;
		padding-bottom: 200px;
		margin: 0px;
		background-image: url("prom1_mobile.gif");
		display: block;
 		background-repeat: no-repeat;
 		background-position: center;
 		background-attachment: fixed;
		background-size: cover;
	}
	
	div2{
		padding: 25px;
	}
	
	div3{
		padding: 25px;
	}
	
	div4{
		padding: 25px;
	}
	
	div5{
		padding: 15px;
	}
	
	div7{
		padding: 10px;
	}
	
	/*IMGs*/
	
	img{
		height: 30px;
	}
	
	/*TEXT CSS*/
	
	h1{
		font-size: 32px;
	}
	
	h2{
		font-size: 28px;
	}
	
	h3{
		font-size: 18px;
	}
	
	h5{
		font-size: 10px;
	}
	
	h6{
		font-size: 14px;
	}
	
	h7{
		font-size: 18px;
	}
	
	h8{
		font-size: 18px;
	}
		
}
