body{
 	background-color: #262626;
	margin: 0px;
}

divheader{
	align-items: center;
	height: 60px;
	width: 100%;
	background-color: black;
	padding: 20px;
	position: fixed;
	display: block;
	top: 0;
}

div1{
	height: 100hv;
	width: 100%;
	background-image: url("prom1.gif");
	background-repeat: no-repeat;
 	background-position: center;
	background-attachment: fixed;
background_size: cover;
}

th{
	font-family: Agency FB;
	color: #ffffff;
	font_size: 18px;
}
